<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MCUTerm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <runtime>
        <AppContextSwitchOverrides Value="Switch.System.Windows.DoNotScaleForDpiChanges=false"/>
    </runtime>
    <userSettings>
        <MCUTerm.Properties.Settings>
            <setting name="AutoScroll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StayOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocalEcho" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HexOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterMatchCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="MainWIndowHeight" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="DataBitsIndex" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ParityIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StopBitsIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HandshakeIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SendPostfixIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>74880</value>
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="AtStartupIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DisableFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableHighlight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AfterConnectIndex" serializeAs="String">
                <value>1</value>
            </setting>
        </MCUTerm.Properties.Settings>
    </userSettings>
</configuration>
